.slide {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100vh;
  // transform: translateY(-60px);

  & i {
    font-size: 3rem;
    line-height: 0;
    cursor: pointer;
    color: #fff;
    margin: 0px 12vw 0px 0px;
  }

  & i:nth-child(3){
    margin: 0px 0px 0px 12vw;
  }

  & .leftarrow {
    animation: left 1.5s infinite;
	  -webkit-animation: left 1.5s infinite;
  }
  & .rightarrow {
    animation: right 1.5s infinite;
	  -webkit-animation: right 1.5s infinite;
  }
}
@keyframes left {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateX(-15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes left {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateX(-15px);
	}
	40% {
		transform: translate(0);
	}
}

@keyframes right {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateX(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes right {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateX(15px);
	}
	40% {
		transform: translate(0);
	}
}

.intro {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-size: 4.5rem;
    font-weight: 200;
    line-height: 1.4;
    margin-bottom: 2rem;
    width: 100%;
  }

  & p {
    margin-bottom: 8rem;
    line-height: 2.2;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .slide {
    height: 100vh;
    transform: translateY(20px);
  }

  .intro {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .slide {
    height: 100vh;
  }

  .intro {
    max-width: 400px;

    & h1 {
      font-size: max(5vw, 26px);
      font-weight: 300;
    }

    & p {
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: 576px) {
  .slide {
    height: 100vh;

    & i {
      // display: none;
      margin: 0px 0px 0px 0px !important;
    }
  
  }

  .intro {
    max-width: 100%;
  }
}